.content {
  display: flex;
  flex-flow: column;
  align-content: flex-end;



}

.jokes{
  color: aqua;
}
.add-btn{
  padding-left: auto;

}

.btn-row{
  display: flex;
  justify-content: flex-end;
}

.rmvBtn {
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.row.rmvBtn{
  background-color: red;
}
