<div class="container content">
  <div class="" *ngFor="let jokeEL of forumsContent; let i = index">
    <div class="col-md-12">
      <app-content
        class="jokes"
        [joke]="jokeEL?.content"
        [jokeIdx]="i"
      ></app-content>
      <button
        class="float-right"
        style="border: none; font-size: 1rem; background-color: transparent"
        (click)="onRemoveJoke(i)"
      >
        x
      </button>
    </div>
  </div>

  <hr />
  <div class="row">
    <div class="col-md-12 btn-row">
      <button class="add-btn btn btn-primary" (click)="onAddNewContent()">
        Add Post
      </button>
    </div>
  </div>
</div>
