<div class="row">
  <label for="jokeInput">What joke are you thinking about?</label>
  <input
    type="text"
    class="form-control"
    id="jokeInput"
    name="jokeInput"
    ng-Model="newJoke"
    [formControl]="inputControl"
    #formInput
    required
  />
  <button
    type="submit"
    class="btn btn-primary mr-3"
    [disabled]="!inputControl.valid"
    (click)="onJokeFormSubmit(inputControl.value)"
  >
    Upload Joke
  </button>
  <button type="button" class="btn btn- warning" (click)="onResetForm()">
    Clear
  </button>
</div>
