.background{
  color: #A27B5C;
}
.container-squared{
  padding-top: 10%;

}

.container{
  border: solid black 5px;
  border-radius: 5px;
  background-color: #121212;
}

.chuckBtn {
  background-color: #30475E;
}

.chuckBtn:hover{
  color: #F5F5F5;
  text-shadow: 0 0 3px #F05454, 0 0 5px #DCD7C9;
}

.heart{
  display: flex;
  justify-content: right;
}

.favBtn{
  transform: scale(1.6);
  background: transparent;
  color: #F05454;
  border: none;
}

.jokeOutput{
  color: #F5F5F5;
  font-size: x-large;
  padding-top: 1%;
  border-radius: 5px;
  /* text-decoration: #2C3639; */
  text-shadow: 0 0 3px #F05454, 0 0 5px #DCD7C9;
}

.buttonholder{
display: flex;
justify-content: space-between;
padding: 2%;
}

.thejokerow{
  display: flex;
  justify-content: center;
  align-items: center;
}

.joke-selector{
  background-color: #30475E;
}
.joke-selector:hover{
  color: #F5F5F5;
  text-shadow: 0 0 3px #F05454, 0 0 5px #DCD7C9;
}

.joke-selector2{
  background-color: #F05454;
}
.joke-selector2:hover{
  cursor: pointer;
  color: #F5F5F5;
}
