<div class="container">
  <div class="row">
    <div class="col-md-10 jokeOutput">
      <p>{{ jokeOutput }}</p>
    </div>
    <div class="col-md-2">
      <!-- <button (click)="saveToArry(jokeOutput)">X</button> -->
      <button
        mat-icon-button
        color="accent"
        (click)="saveToArry(jokeOutput)"
        class="favBtn"
      >
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </div>
  <button class="btn chuckBtn" (click)="genArryCall()">Mom Jokes!</button>

  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-expanded="true"
    >
      {{ this.dropdownLabel() }}
    </button>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a
        *ngFor="let action of actions"
        class="dropdown-item"
        (click)="jokeTypeClick(action.name)"
        >{{ action.name }}</a
      >
    </div>
  </div>
</div>
