.nav-main{
  background-color:#161716;


}

.nav-title{
  padding-top: 10px;
  font-size: 25px;
}
p{
  color:#87aa8f;
  padding-top: 14.5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  align-items: space-evenly;
  font-size: 20px;
}


