<nav class="navbar navbar-expand-md nav-main">
  <p
    class="navbar-brand nav-title"
    routerLink="/home"
    routerLinkActive="active"
  >
    Dopamine Enhancer
  </p>

  <div class="" id="navbarSupportedContent">
    <div class="row">
      <div class="col-md-12">
        <ul class="navbar-nav nav-text">
          <li class="nav-item">
            <p
              class="nav-link forums"
              routerLink="/forums"
              routerLinkActive="active"
            >
              Forums
            </p>
          </li>
          <li class="nav-item">
            <p
              class="nav-link mom-jokes"
              routerLink="/MomJokes"
              routerLinkActive="active"
            >
              Yo Momma Jokes
            </p>
          </li>
          <li class="nav-item">
            <p
              class="nav-link chuckJ"
              routerLink="/chuck-norris-jokes"
              routerLinkActive="active"
            >
              Chuck Facts
            </p>
          </li>
          <li class="nav-item">
            <p
              class="nav-link rdad"
              routerLink="/DadJokes"
              routerLinkActive="active"
            >
              Dad Jokes
            </p>
          </li>
          <li class="nav-item">
            <p
              class="nav-link favorites"
              routerLink="/Favorites"
              routerLinkActive="active"
            >
              Favorites
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
