<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home" routerLinkActive="active"
    >Dopamine Enhancer</a
  >

  <div class="" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/forums" routerLinkActive="active"
          >Forums</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/MomJokes" routerLinkActive="active"
          >Yo Momma Jokes</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/DadJokes" routerLinkActive="active"
          >Dad Jokes</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/WholesomeFacts"
          routerLinkActive="active"
          >Wholesome Fact</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Favorites" routerLinkActive="active"
          >Favorites</a
        >
      </li>
    </ul>
  </div>
</nav>
