.content{
  background-color: rgba(124, 85, 137, 0.528);
  display: flexbox;
  justify-content: center;
  text-decoration: black;
}
.help{
  display: flexbox;
  justify-content: center;
  text-decoration: black;
}


