<!-- <div class="row">
  <form
    #jokeFormRef="ngForm"
    (ngSubmit)="onJokeFormSubmit(jokeFormRef)"
    class="test12"
  >
    <label for="jokeInput">What joke are you thinking about?</label>
    <input
      type="text"
      class="form-control"
      id="jokeInput"
      name="jokeInput"
      [ngModel]="joke.content"
      #titleRef="ngModel"
      required
    />
    <button
      type="submit"
      class="btn btn-primary mr-3"
      [disabled]="!jokeFormRef.valid"
    >
      Upload Joke
    </button>
    <button type="button" class="btn btn- warning" (click)="onResetForm()">
      Cancel
    </button>
  </form>
</div> -->
<div class="row">
  <h3 class="wtf">{{ joke.content }}</h3>
</div>

<!-- <hr />
<div class="row">
  <div class="dropdown" appDropdown>
    <button
      class="btn btn-primary"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Edit Content
    </button>
     <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" style="cursor: pointer" (click)="onEditJoke()"
        >Update content</a
      >
      <a class="dropdown-item" style="cursor: pointer" (click)="onDeleteJoke()"
        >Delete Content</a
      >
    </div>
  </div>
</div> -->
