<div class="row">
  <h3 class="wtf">{{ joke.content }}</h3>
</div>

<!-- <hr />
<div class="row">
  <div class="dropdown" appDropdown>
    <button
      class="btn btn-primary"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Edit Content
    </button>
     <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" style="cursor: pointer" (click)="onEditJoke()"
        >Update content</a
      >
      <a class="dropdown-item" style="cursor: pointer" (click)="onDeleteJoke()"
        >Delete Content</a
      >
    </div>
  </div>
</div> -->
