.mainC{
  background-color: #F5F5F5;
  height: 100%;
  width: 100%;


}

.row{
  padding-top: 2em;
  padding-left: 6em;
}
.favej {
  background-color: #121212;
  border-radius: 10px;
  padding: 1em;
  border: solid #F05454 1px;
}

.delete-btn{
  background: transparent;
  border: none;
  color: #F05454;
 padding-left: 55em;
}


/* .ic-sticky-frame {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  max-height: 100vh;
  padding: 24px 12px 4.5rem 24px;
  box-sizing: border-box;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  overflow-x: hidden;
} */

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 0px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 8px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scroll {
  display: block;
  border: 0px solid red;
  padding: 5px;
  margin-top: 5px;
  width: 100%;
  height: 50em;
  overflow-y: scroll;
}
.text{
  color: #F5F5F5;
}
