<div class="container mainC" style="height: 100%">
  <div class="col-md-12">
    <!-- <div class="ic-sticky-frame has-scrollbar"> -->
    <div class="scroll">
      <div class="row" *ngFor="let fav of txtOutput; let i = index">
        <div class="favej">
          <p
            class="col-xs-10 text"
            style="
              max-width: 45em;
              min-height: 50px;
              font-size: large;
              min-width: 45em;
            "
          >
            {{ fav }}
          </p>
          <!-- <button
            class="col-xs-2 xbutton"
            style="max-height: 30px"
            (click)="deleteFavJoke(i)"
          >
            X
          </button> -->
          <div class="example-button-container">
            <button
              mat-fab
              color="primary"
              aria-label="delete-icon"
              class="delete-btn"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
